einops>=0.8.0
gymnasium[atari]>=1.3.0
ale-py>=0.11.2
hydra-core==1.3.2
psutil>=5.8.0
pygame>=2.1.2
tqdm>=4.62.3
wandb>=0.15.9
loguru
rich>=13.0.0
yet-another-retnet>=0.5.0
numpy>=1.26.4
rliable
dm_control==1.0.41
dm-env==1.6
mujoco==3.8.1
mujoco-utils==0.0.6
imageio[ffmpeg]
